<div class="row justify-content-center">
          <div class="col-12 col-md-2">
            <span style="font-size: 9em"><i class="{{emoji}}"></span></i>
          </div>
          <div class="col-12 col-md-9">
          
            <div class="card text-center mb-4 border-info">
                <div class="card-header text-white bg-info">
                 {{title}}
                </div>
                <div class="card-body text-info">
                  
                  <p class="card-text">{{description}}</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  
                </div>
                <div class="card-footer text-muted border-info">
                  Due: {{due_date}}
                </div>
              </div><!--END OF CARD-->
              <div class="card text-center">
                <div class="card-header text-white bg-info">
                  Tasks
                </div>
                <div class="card-body text-info">
                  
                  <p class="card-text">

                    {{#if task.length}}
                    {{#each tasks as |task|}}

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{task.description}}" id="task-{{task.id}}">
                        <label class="form-check-label" for="task-{{task.id}}">
                          {{task.description}}
                        </label>
                      </div>
                    {{/each}}
                    {{/if}}


                  </p>
                 
                </div>
              </div>
            </div>

        
        </div>